:root {

	--light: #FAFFAF;
	--blue: #96C9F4;
	--light-blue: #3FA2F6;
	--dark-blue: #0F67B1;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--light-orange: #FFE0D3;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* added to reset to clear the accessible border behaviour in chrome update */
*,
*:focus,
*:hover {
  outline: none;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  letter-spacing: 0.015rem;
  -webkit-font-smoothing: antialiased;
  color: #081d0a;
  display: grid;
   
   
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "Kanit", sans-serif;
}
.leftContainer{
  background-color:var(--light-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.logoDashboard{
  grid-area: 1/1;
  color: var(--light);
  margin-right: 4vh;
  text-align: justify;
}
.headerweb{
  display: flex;
  gap: 5%;
  padding-top: 10px;
  padding-left: 2vh;
  margin-bottom: 10vh;
  justify-content: center;
  text-align: center;
}
.mainmenu h1 {
  text-align: justify;
  
}
.headerweb :hover {
  color: var(--dark-blue);
  
}


.menu-logo{
  height: 60%;
  width: auto;
  justify-content: center;
  grid-area: 1/1;
}
.logo {
  height: 1fr;
  width: 1fr;
  scale: 80%
  
}
.logo ,p{
  color: beige;
  grid-area: 2/2;
  
}
.headerlogo{
  font-size: 2rem;
  color: var(--light);
  padding-top: 10px;
  
}
.mainmenu, .setting{
  color: var(--light);
  height: 2rem;
  display: flex;
  gap: 15%;
  font-size: 8px;
  text-align: center;
}
.mainmenu :hover {
  color: var(--dark-blue);
}
.setting :hover {
  color: var(--dark-blue);
}
.icon {
  display: grid;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 20px;
  align-items: center;
  
}
.fa-house {
  padding-left: 20px;
}
.fa-user{
  padding-left: 22px;
}
.fa-people-line{
  font-size: 15px;
}

.setting{
  margin-top: 30px;
}

.webname{
  margin-bottom: 10rem;
}

.searchbar{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding-top: 1rem;
  background-color: beige;
}
.fa-magnifying-glass{
  display: grid;
  
  justify-content: flex-end;
}
.form-control{
  background-color: #4b5563;
  border-radius: 20px;
  border: none;
}
.notification {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.accountname {
  display: flex;
  justify-content: flex-start;
  padding-right: 10vh;
}
.intro {
  grid-template-columns: 1fr 2fr 1fr 1fr;
  display: grid;
  padding-top: 20px;
  padding-right: 10vh;
  background-color: beige;
  padding-bottom: 10px;
  box-shadow: 0 5px  rgba(66, 60, 60, 0.75);
}
.intrologo {
  font-size: 3rem;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  display: flex;
}
.Hithere{
  align-items: center;
  justify-content: center;
}
.Hithere p {
  color: black;
  font-size: 10px;
}
.zonk {
  width: 300px;
}

.buttonHeader{
  gap: 20px;
  justify-content: flex-end;
  width: 300px;
  align-items: center;
  display: flex;
}
.button{
  gap: 10px;
}
.headerbutton{
  background-color:var(--light-blue);
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-family: "Kanit", sans-serif;
}

.headerbutton p{
  color: var(--light);
}


p {
  color: black;
}

.headerContainer {
  background-color: #7e8690d6;
}
.borderline{
  display: flex;
  justify-content:space-between;
  padding-right: 20px;
}
.borderline h1 {
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  font-size: 1rem;
  padding-top: 1rem;
  display: flex;
}

.content {
  display: grid;
  grid-template: 2fr 1fr; 
}
.content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
    
}

.contentContainer{
  gap: 10px;
   grid-template-columns: 2fr 1fr;
   display: grid;
}


.contentrepeat {
  grid-area: 1/1;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  border-left: 5px solid rgb(255,255,0);
}

.contentrepeat2 {
  grid-area: 1/2;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  border-left: 5px solid rgb(255,255,0);
  
}
.contentrepeat3 {
  grid-area: 2/1;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  border-left: 5px solid rgb(255,255,0);
}
.contentrepeat4 {
  grid-area: 2/2;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  
  border-left: 5px solid rgb(255,255,0);
}
.contentrepeat5 {
  grid-area: 3/1;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  border-left: 5px solid rgb(255,255,0);
}
.contentrepeat6 {
  grid-area: 3/2;
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
 
  box-shadow: 5px 5px 5px 5px rgba(41, 32, 32, 0.75);
  border-left: 5px solid rgb(255,255,0);
}

.iconshare {
  display : flex;
  justify-content: flex-end;
  gap: 5%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.announcementContainer{
 
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  
  
}

.trendingContainer{
  
  background-color: beige;
  
  border-radius: 5px;
 
}
.anon2 {
  
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  
}
.anon1 {
      padding-bottom: 15px;
    border-bottom: 3px solid #a1a1a1;

}
.titletrending{
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.account{
  display: flex;
}
.fa-shield-dog , .fa-shield-cat, .fa-shield-virus{
  font-size: 30px;
  padding-top: 10px;
  padding-right: 10px;
}
.orang{
  margin-top: 10px;
}